@import url('https://fonts.googleapis.com/css?family=Anaheim');

body {
    background-color: dimgray;
    font-family: 'Anaheim', sans-serif;
    /*background-image: url(images/tobias-fischer-185900-unsplash.jpg);*/
    text-decoration-color: #fff;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 15px;

}

.main-header {
    display: flex;
    justify-content: center;
    background-image: url(images/tom-hermans-264015-unsplash.jpg);
    background-size: cover;

}

.header-image {
    height: 253px;
    width: 500px;
    padding-right: 25px;
    padding-top: 15px;

}

.main-title {
    padding-left: 25px;
    font-size: 45px;
    font-weight: 500;

}

.button-click {
    width: inherit;
    height: initial;
    align-self: center;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
}

.book-logo {
    height: 300px;
}

#flipBodies {
    margin-top: 20px;
}

.flip3D {
    margin: 10px;
    float: left;
}



.flip3D,
.flip3D > .front,
.flip3D > .back {
    width: 240px;
    height: 300px;
}


.flip3D > .front,
.flip3D > .back {
    position: absolute;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D > .front {
    transform: perspective( 600px) rotateY( 0deg);
    background: #11908b;

    text-align: center;
}

.flip3D > .back {
    transform: perspective( 600px) rotateY( 180deg);
    background: blanchedalmond;
}

.flip3D:hover > .front {
    transform: perspective( 600px) rotateY( -180deg);
}

.flip3D:hover > .back {
    transform: perspective( 600px) rotateY( 0deg);
}
