@import url('https://fonts.googleapis.com/css?family=Anaheim');

body {
    background-color: dimgray;
    font-family: 'Anaheim', sans-serif;
    /*background-image: url(images/tobias-fischer-185900-unsplash.jpg);*/
    text-decoration-color: #fff;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 15px;

}

.main-header {
    display: flex;
    justify-content: center;
    background-image: url(images/tom-hermans-264015-unsplash.jpg);
    background-size: cover;

}

.header-image {
    height: 253px;
    width: 500px;
    padding-right: 25px;
    padding-top: 15px;

}

.main-title {
    padding-left: 25px;
    font-size: 45px;
    font-weight: 500;

}


#flipBodies {
    margin-top: 20px;
}
